<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <div class="logo">SMART TRAVELLER</div>
      <!-- <div class="settings">Settings</div> -->
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <div class="container">
      <div class="content-container">
        <div class="content-top-section">
          <div class="profile-section">
            <div class="user-detail-header">
              <div class="avatar">C</div>
              <div class="user-detail-container">
                <div class="profile-name">Chris</div>
                <div class="sub-text profile-header">HODOPHILE</div>
              </div>
            </div>

            <div class="profile-detail-container">
              <div class="about-container">
                <div class="profile-header">ABOUT</div>
                <div class="profile-content">
                  Chris is a 20-something fun loving and ambitious male who set
                  up a travel blog as a place to document all of her amazing
                  personal and professional travel experiences in witty,
                  informal and honest blog posts.
                </div>
              </div>
              <div class="preference-container">
                <div class="profile-header">PREFERENCES</div>
                <div class="preference-holder">
                  <div class="filter">
                    <div class="filter-message">Type of Place</div>
                    <div class="drop-down-container">
                      <nb-select
                        placeholder="Select"
                        [(selected)]="typeOfPlace"
                        size="small"
                      >
                        <nb-option value="">None</nb-option>
                        <nb-option value="0">Entire Place</nb-option>
                        <nb-option value="1">Private Room</nb-option>
                        <nb-option value="2">Hotel Room</nb-option>
                        <nb-option value="3">Shared Room</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="filter">
                    <div class="filter-message">Travelling for work</div>
                    <div>
                      <nb-select
                        placeholder="Select"
                        [(selected)]="travellingForWork"
                        size="small"
                      >
                        <nb-option value="">None</nb-option>
                        <nb-option value="0">Yes</nb-option>
                        <nb-option value="1">No</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="filter">
                    <div class="filter-message">Budget</div>
                    <div class="budget-filter-input">
                      <nb-form-field>
                        <nb-icon
                          nbPrefix
                          icon="credit-card-outline"
                          pack="eva"
                        ></nb-icon>
                        <input
                          type="text"
                          nbInput
                          fieldSize="small"
                          [(ngModel)]="budget"
                        />
                      </nb-form-field>
                    </div>
                  </div>
                  <div class="filter">
                    <div class="filter-message">No. of Travellers</div>
                    <div>
                      <nb-select [(selected)]="noOfTravellers" size="small">
                        <nb-option value="1">1</nb-option>
                        <nb-option value="2">2</nb-option>
                        <nb-option value="3">3</nb-option>
                        <nb-option value="4">4</nb-option>
                        <nb-option value="5">5</nb-option>
                        <nb-option value="6">6</nb-option>
                        <nb-option value="7">7</nb-option>
                        <nb-option value="8">8</nb-option>
                        <nb-option value="9">9</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="action-button">
                    <button
                      nbButton
                      outline
                      status="primary"
                      size="small"
                      (click)="onPreferenceSaved()"
                    >
                      Save Preference
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="quick-view-section">
            <div class="profile-header">FEATURED</div>
            <div class="featured-destination">
              <div
                class="card-container"
                *ngFor="let item of featuredDestinations"
              >
                <nb-card>
                  <nb-card-body>
                    <div class="destination-card">
                      <div class="destination-card-image-container">
                        <img
                          class="destination-card-image"
                          src="{{ '../../../assets/' + item.image }}"
                        />
                      </div>
                      <div class="destination-card-content">
                        <div class="destination-card-description">
                          {{ item.title }}
                        </div>
                      </div>
                    </div>
                  </nb-card-body>
                  <!-- <nb-card-footer>View more</nb-card-footer> -->
                </nb-card>
              </div>
            </div>
            <div class="popular-posts">
                <div class="profile-header">OUR TOP PICKS</div>
            <div class="featured-destination">
              <div
                class="card-container"
                *ngFor="let item of topPicks"
              >
                <nb-card>
                  <nb-card-body>
                    <div class="destination-card">
                      <div class="destination-card-image-container">
                        <img
                          class="destination-card-image"
                          src="{{ '../../../assets/' + item.image }}"
                        />
                      </div>
                      <div class="destination-card-content">
                        <div class="destination-card-description">
                          {{ item.title }}
                        </div>
                      </div>
                    </div>
                  </nb-card-body>
                  <!-- <nb-card-footer>View more</nb-card-footer> -->
                </nb-card>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="content-bottom-section">
          <div class="carousel-section">
            <div class="profile-header">WEEKEND GETAWAYS</div>
            <div class="getaway-container">
              <div class="card-container" *ngFor="let item of weekendGetaways">
                <nb-card>
                  <nb-card-body>
                    <div class="card-image-container">
                      <img
                        class="card-image"
                        src="{{ '../../../assets/' + item.image }}"
                      />
                    </div>
                    <div class="card-content">
                      <div class="card-category">{{ item.category }}</div>
                      <div class="card-description">
                        {{ item.title }}
                      </div>
                    </div>
                  </nb-card-body>
                  <!-- <nb-card-footer>View more</nb-card-footer> -->
                </nb-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="chatbot-container">
        <app-chatbot></app-chatbot>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
