<nb-chat title="Travel Assistant" status='primary'>
    <nb-chat-message *ngFor="let msg of messages; let i = index"
                     id='{{i}}-{{msg.sender}}'
                     type="text"
                     [message]="msg.text"
                     [reply]="msg.reply"
                     [sender]="msg.sender"
                     [date]="msg.date"
                     [avatar]="msg.avatar">
</nb-chat-message>


<nb-chat-message *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="info"
    type="text"
    avatar="/assets/bot.jpeg"
    message="...">
</nb-chat-message>


    <nb-chat-form (send)="handleUserMessage($event)" [dropFiles]="false">
    </nb-chat-form>

</nb-chat>